@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@plugin "daisyui" {
  themes: light --default;
}

@theme {
  /* Color veriable  */
  --color-Primary_Color: #d8d8d8;
  --color-Gray_Color: #979797;
  --color-Black_Color: #262626;
  --color-White_Color: #fff;
  --color-Blue_color: #008585;
  --color-Orange_Color: #c7522a;

  /* Gooogle font  */
  --font-DM-Sans: InterVariable, "DM Sans", sans-serif;
}
.container {
  margin: 0px auto 20px;
  padding: 0;
}
body {
  background-color: var(--color-White_Color);
  color: var(--color-Black_Color);
  font-family: var(--font-DM-Sans);
  margin: 0;
  padding: 0;
}
.dark body {
  background-color: var(--color-Black_Color);
  color: var(--color-White_Color);
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}
